@charset "utf-8";
body{
	background: #99D2D9;
	font-size: 22px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	line-height: 1.4em;
}
.encabezado{
	box-shadow: 0 0 20px 0 #070707 
}
.contenedor{
	width: 980;
	margin: auto;

}
.encabezado nav{
	background:#03444A ;
	height: 60px;
	position: static;
	
}

.encabezado nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none
}
.encabezado nav ul li{
	display: inline-block;
	margin: 17px;
	font-size: 30px;;
}
.encabezado nav ul li a{
	display: inline inline-block;;
	padding: 42px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	text-decoration: none;	
}
.idk img{
	box-shadow: 0 0 10px 0 #070707 
}
.idk figcaption h5{
	font-size: 30px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif" ;
	color: #f1bc52;
	background-color: #00a8a8; 
	margin-top: -10px;
	margin-right: 1px;
	text-align: center;
	height: 50px;
	padding-top: 20px;
	}
/* SERVICIOS */

.main h3{
	display: block;
	background: #FF8F4B;
	height: 60px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: italic;
	font-size: 35px;
	text-align: center;
	color: white;
	padding-top: 30px; 
	
}

.main #hospedaje{
	display: inline-block;
	position: absolute;
	margin-top: -35px;
}
.main #viaja{
	display: inline-block;
	position: absolute;
	border-left: solid;
	border-left-color:#EFCB62;
	margin-top: -35px;	
}

.main #hospedaje{
	background: #F1BC52;
	width: 50%;
	float: left;
	height: 650px;
	}
.main #hospedaje img{
   width: 50%;
   height: auto;
   display: block;
   padding-top: 20px;
   padding-left: 25%
}
.main #hospedaje h4{
	color: #FFFFFF;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	letter-spacing: 10px;
	display: block;
	margin-top: 20px;
	}
.main #hospedaje p{
	text-align: center;
	display: block;
	margin-top: -40px;
	padding-bottom: 0px;
	color: white;
	padding: 15px;
	
}
.main #viaja{
	background: #F1BC52;
	margin-left: 49%;
	float: right;
	height: 650px;
}
.main #viaja img{
   width: 44%;
   height: auto;
   display: block;
   padding-top: 10px;
   padding-left: 25%
}
.main #viaja h4{
	color: #FFFFFF;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 45px;
	letter-spacing: 5px;
	display: block;
	margin-top: 20px;
	}
.main #viaja p{
	text-align: center;
	display: block;
	margin-top: -40px;
	padding-bottom: 0px;
	color: white;
	padding: 15px;
}

/* Departamentos */

#departamentos{
	position:absolute;
	margin-top: 600px
}
#departamentos #carazo h3{
	display: block;
	background: #03444A;
	height: 60px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: italic;
	font-size: 35px;
	text-align: center;
	color: white;
	padding-top: 30px; 
}
#departamentos #carazo img{
	display: block;
	width: 100%;
}
#departamentos #carazo{
	background: #00A8A8;
}
#departamentos #carazo p{
	color: white;
	text-align: center;
	padding: 20px
}


#departamentos #rivas h3{
	display: block;
	background: #FF8F4B;
	height: 60px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: italic;
	font-size: 35px;
	text-align: center;
	color: white;
	padding-top: 30px; 
}
#departamentos #rivas img{
	display: block;
	width: 100%;
}
#departamentos #rivas{
	background: #F1BC52;
}
#departamentos #rivas p{
	color: white;
	text-align: center;
	padding: 20px
}

#departamentos #leon h3{
	display: block;
	background: #03444A;
	height: 60px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: italic;
	font-size: 35px;
	text-align: center;
	color: white;
	padding-top: 30px; 
}
#departamentos #leon img{
	display: block;
	width: 100%;
}
#departamentos #leon{
	background: #00A8A8;
}
#departamentos #leon p{
	color: white;
	text-align: center;
	padding: 20px
}

#contacto{
	position: absolute;
	margin-top: 4380px;
	display: block;
	background-color: #293335;
	width: 100%;
	color: white
}
#contacto h3{
	text-align: center;
}
#contacto ul li{
	display: inline-block;
	align-items: center;
}

#footer{
	position: absolute;
	margin-top: 4530px;
	display: block;
	background-color: #03444a;
	width: 100%;
}
#footer img{
	width: 20%;
	display: block;
	padding-left: 40%;
}
#footer h5{
	color: white;
	display: block;
	width: 100%;
	text-align: center
	}


















